.headerContainer {
    text-align: left;
}

.headerLogo {
    width: 20%;
}
.headerFixed {
    position: fixed;
    top: 0;
    left: 200px;
    right: 0;
    height: 50px;
    padding-left: 0px;
    color: rgba(0, 0, 0, 0.65);
}
